.heart {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: scroll;
    /*background-color: honeydew;*/
}

.header {
    width: 100%;
    height: 10vh;
    background-color: #dddddd;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer {
    width: 100%;
    height: 10vh;
}

body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
}

.booth {
    width: 400px;
    background-color: #ccc;
    border: 10px solid #ddd;
    margin: 0px auto;
}

.booth-capture-button {
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: chocolate;
    color: #000;
    text-align: center;
    text-decoration: none;
    font-family: sans-serif;
}

canvas {
    display: none;
}

.player {
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    width: 60%;
}

.gallery {
    background: aqua;
    width: 40%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    height:80vh;
}

#gl {
    height: 20%;
    width: 100%;
}

#stamp {

}

.core {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: scroll;
}

.mozaic {
    height: 300px;
    width: 400px;
    position: relative;
}

.booth {
    height: 300px;
    width: 400px;
    float: right;
    background-color: #ccc;
    border: 10px solid #ddd;
    margin: 0px auto;
}

#likes {
    font-family: Verdana Sans-Serif;
    background-color: green;
    font-size: smaller;
    height:100px;
    overflow: scroll;
}

#nolike {
    font-family: Verdana Sans-Serif;
    font-size: smaller;
    height: 20px;
    background-color: red;
}

@media (max-width: 1300px) {
    .player {
        display: flex;
        flex-direction: column;
    }

    .booth {
        display: flex;
        flex-direction: row;
    }

}




@media (max-width: 1000px) {
    .player {
        width: 100%;
        display: flex;
    }
    .gallery {
        width: 100%;
        height: 200px;
        flex-direction: row;
        overflow: scroll;
    }
}